@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

header{
    text-align: center;
}

main section.banner{
    background-image: url("../img/lemon-pie\ 1.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 343px;
}

main section.banner h1,p.intro{
    max-width: 80%;
    margin: 30px auto;
}

section.banner ~ section{
    max-width: 80%;
    margin: 30px auto;
}

i.fas{
    color: aqua;
}

i.fa-list-ol{
    font-size: medium;
}